[user]
    name = HamzaFouad
    email = HamzaMoFouad@gmail.com
[core]
	autocrlf = true
    eol = lf
	filemode = false
    editor = vim
	autolf = input
[diff]
    tool = vscode-diff
[difftool]
    prompt = false
[difftool "vscode-diff"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode-merge
[mergetool]
    keepBackup = false
[mergetool "vscode-merge"]
    cmd = code --wait $MERGED
[alias]
    st = status
    ss = st --short
    stash-all-withoutname = stash --include-untracked
    stash-all = "!f() { git stash push -m \"$1\" --include-untracked; }; f"
    pcb = "!f() { git branch --show-current ; }; f"
    egc = config --global -e
    elc = config --local -e
    esc = config --system -e
    amend = commit --amend --no-edit
    diff-files = "!f() { git diff --name-status \"$1^\" \"$1\"; }; f"
    keep-unchanged = "!f() { git update-index --assume-unchanged \"$1\"; }; f"
    revert-keep-unchanged = "!f() { git update-index --no-assume-unchanged \"$1\"; }; f"
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches # Log graph branches tree
